{% extends 'music_app/base_template.html' %}

{% block content %}
<h2>Create new post</h2>

<!-- Post information form -->
<!-- enctype="multipart/form-data" allows files to be processed -->
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <a href="{{ artist.profile.get_absolute_url }}" class="btn btn-danger">Cancel</a>
    <input type="submit" value="Create" class="btn btn-warning">
</form>

{% endblock %}