{% extends 'music_app/base_template.html' %}

{% block content %}
<h1>{{ artist.name }}'s Profile:</h1>
<a href="{% url 'edit-profile' artist.id %}" class="btn btn-info">Edit Profile</a>
<br><br>
<p><strong>Title:</strong> {{ profile.title }}</p>
<p><strong>About:</strong> {{ profile.about }}</p>
<p><strong>contact email:</strong> {{ profile.contact_email }}</p>
<br>
<h4>List of {{ artist.name }}'s Posts:</h4>
    {% if list_of_posts %}
        <div class="container">
            <ul class="list-group">
                <!-- display post list -->
                {% for post in list_of_posts %}
                    <div class="navbar-nav-white">
                    <li class="list-group-item">
                        <strong> Post title:</strong> {{ post.title }}
                        <br>
                        <strong>Description:</strong> {{ post.description }}
                        <p><strong>Related Audio File (.mp3): {{ post.get_base_mp3_filename }} {% if not post.mp3_file %} No audio file uploaded {% endif %}</strong>
                            <p><audio controls id="player">
                                <source src="{% if post.mp3_file %} {{post.mp3_file.url}} {% endif %}" type="audio/mp3">
                                Your browser does not support the audio element.
                            </audio></p>
                        <a href="{{ post.get_absolute_url }}" class="btn btn-info">View Post</a>
                        <a href="{% url 'update-post' pk=artist.pk post_pk=post.id %}" class="btn btn-info">Edit Post Details</a>
                        <a href="{% url 'delete-post' pk=artist.pk post_pk=post.pk %}" class="btn btn-danger">Delete {{ post.title}}</a>
                    </li>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <br>
        <a href="{% url 'create-post' artist.id %}" class="btn btn-success">Create Post</a>
        <br>
    {% else %}
        <p>This portfolio has no posts.</p>
        <a href="{% url 'create-post' artist.id %}" class="btn btn-success">Create a Post</a>
    {% endif %}

{% endblock %}

<!--
<p><strong>for dev purposes.. profile.get_absolute_url:</strong> {{ profile.get_absolute_url }}</p>
-->