{% extends 'music_app/base_template.html' %}

{% block content %}

<h1>Edit {{ artist.name }}'s Profile:</h1>
<h4>Current Profile Information:</h4>
<p><strong>Title:</strong> {{ profile.title }}</p>
<p><strong>About:</strong> {{ profile.about }}</p>
<p><strong>contact email:</strong> {{ profile.contact_email }}</p>

<h4>Update Profile Information:</h4>
  <form action="" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <a href="{% url 'profile-detail' profile.id %}" class="btn btn-danger">Cancel</a>
    <input type="submit" value="Save" class="btn btn-success">
  </form>

{% endblock %}
