{% extends 'portfolio_app/base_template.html' %}

{% block content %}
<h1>{{ student.name }}'s Portfolio:</h1>
<a href="{% url 'edit-portfolio' student.pk %}" class="btn btn-dark">Edit Portfolio</a>
<br><br>
<p><strong>Title:</strong> {{ portfolio.title }}</p>
<p><strong>About:</strong> {{ portfolio.about }}</p>
<p><strong>contact email:</strong> {{ portfolio.contact_email }}</p>
<p><strong>for dev purposes.. portfolio.get_absolute_url:</strong> {{ portfolio.get_absolute_url }}</p>
<br>
<a href="{% url 'create-project' student.pk %}" class="btn btn-dark">Add Project</a>
<br><br>
<h4>List of {{ student.name }}'s {{ portfolio.title }} portfolio projects</h4>
    {% if list_of_projects %}
        <div class="container">
            <ul class="list-group">
                <!-- display project list -->
                {% for project in list_of_projects %}
                    <div class="navbar-nav-white">
                    <li class="list-group-item">
                        <strong>{{ project.title }}</strong>
                        <a href="{{ project.get_absolute_url }}" class="btn btn-info">View Project</a>
                        <a href="{% url 'update-project' project.pk %}" class="btn btn-info">Edit Project Details</a>
                        <a href="{% url 'delete-project' project.pk %}" class="btn btn-danger">Delete {{ project.title}}</a>
                    </li>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>This portfolio has no projects.</p>
    {% endif %}

{% endblock %}
