{% extends 'portfolio_app/base_template.html' %}

{% block content %}
<h1>View {{ project.title }} Project:</h1>
<p><li class="list-group-item">
    <a href="{% url 'update-project' project.pk %}" class="btn btn-info">Edit Project Details</a>
    <a href="{% url 'delete-project' project.pk %}" class="btn btn-danger">Delete {{ project.title}}</a>
</li></p>
<p><strong>Title:</strong> {{ project.title }}</p>
<p><strong>Description:</strong> {{ project.description }}</p>
<p><strong>Portfolio:</strong> 
    {{ project.portfolio }}
    <a href="{{ project.portfolio.get_absolute_url }}" class="btn btn-info">View</a>
</p>
<p><strong>for dev purposes.. project.get_absolute_url:</strong> {{ project.get_absolute_url }}</p>

{% endblock %}
